{% extends 'base.html' %}

{%block content%}
    {% if posts %}
      {% for post in posts %}
        {% if post.author %}
          <em>{{ post.author.nickname }}</em> wrote:<br/>
        {% else %}
          <em>An anonymous person</em> wrote:<br/>
        {% endif %}
        {{ post.message }}<br/><br/>
      {% endfor %}
    {% endif %}
    <form action="/sign" method="post">
      <table>
        {{ form.as_table }}
      </table>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
{%endblock%}
